#pains	
	.row
		.col_two_third.testimonial
			%h4.nobottommargin Describe any pains or discomforts you are currently experiencing:
	-# Head Neck and shoulders
	.row
		.col_one_third.testimonial
			= f.check_box :neck
			= f.label :neck, "neck"
			= f.text_area :neck_note, :class => "form-control"

			= f.check_box :low_back
			= f.label :low_back, "low_back"	
			= f.text_area :low_back_note, :class => "form-control"

			= f.check_box :mid_back
			= f.label :mid_back, "mid_back"		
			= f.text_area :mid_back_note, :class => "form-control"
			= f.check_box :upper_back
			= f.label :upper_back, "upper_back"
			= f.text_area :upper_back_note, :class => "form-control"

			= f.check_box :shoulders
			= f.label :shoulders, "shoulders"
			= f.text_area :shoulders_note, :class => "form-control"

		.col_one_third.testimonial 	 
			= f.check_box :arms
			= f.label :arms, "arms"
			= f.text_area :arms_note, :class => "form-control"

			= f.check_box :legs
			= f.label :legs, "legs"
			= f.text_area :legs_note, :class => "form-control"

			= f.check_box :knees
			= f.label :knees, "knees"
			= f.text_area :knees_note, :class => "form-control"

			= f.check_box :other
			= f.label :other, "other"
			= f.text_area :other_note, :class => "form-control"
			%br
			#put_contact_button_here