.container
	= form_tag method: :post, :role => "form" do	
		-# name
		.row
			.col_one_third
				= label :hh_form, :first_name, "first_name"
				= text_field :hh_form, :first_name, :class => "form-control"
			.col_one_third
				= label :hh_form, :last_name, "last_name"
				= text_field :hh_form, :last_name, :class => "form-control"
		.row
			-# address
			.col_one_third	 
				= label :hh_form, :address_1, "address_1"
				= text_field :hh_form, :address_1, :class => "form-control"

				= label :hh_form, :address_2, "address_2"
				= text_field :hh_form, :address_2, :class => "form-control"

				= label :hh_form, :city, "city"
				= text_field :hh_form, :city, :class => "form-control"

				= label :hh_form, :provance, "provance"
				= text_field :hh_form, :provance, :class => "form-control"

				= label :hh_form, :postal_code, "postal_code"
				= text_field :hh_form, :postal_code, :class => "form-control"
			-# contact
			.col_one_third
				= label :hh_form, :email , "email"
				= text_field :hh_form, :email , :class => "form-control"

				= label :hh_form, :phone , "phone"
				= text_field :hh_form, :phone, :class => "form-control"

				= label :hh_form, :occupation, "occupation"
				= text_field :hh_form, :occupation, :class => "form-control"

				= label :hh_form, :referral_source, "referral_source"
				= text_field :hh_form, :referral_source, :class => "form-control"
				%br
				= label :hh_form, :date_of_birth, "date_of_birth "
				= select_date Date.today, hh_form: :date_of_birth, :class => "form-control"

		.row
			-# complaints and massage history
			.col_one_third
				= label :hh_form, :primary_complaint, "primary_complaint"
				= text_field :hh_form, :primary_complaint, :class => "form-control"

				= label :hh_form, :secondary_complaint, "secondary_complaint"
				= text_field :hh_form, :secondary_complaint, :class => "form-control"

				= label :hh_form, :previous_massage_therapy, "previous_massage_therapy"
				= text_field :hh_form, :previous_massage_therapy, :class => "form-control"

				= label :hh_form, :previous_massage_note, "previous_massage_note"
				= text_area_tag :hh_form, :previous_massage_note, :class => "form-control", :rows => "3"
			-# general health
			.col_one_third
				= label :hh_form, :general_health_status, "general_health_status"
				= text_field :hh_form, :general_health_status

				= label :hh_form, :smoke, "smoke"
				= check_box_tag "hh_form[smoke]"

				= label :hh_form, :sports, "sports"
				= text_area_tag :hh_form, :sportste

		-# check boxes
		.row
			.col_one_fifth
				%h4 Respiratory
				= check_box_tag "hh_form[chronic_cough]", :class => "checkbox"
				= label :hh_form, :chronic_cough, "chronic_cough"
				%br
				= check_box_tag "hh_form[shortness_of_breath]", :class => "checkbox"
				= label :hh_form, :shortness_of_breath, "shortness_of_breath"
				%br
				= check_box_tag "hh_form[bronchitis]", :class => "checkbox"
				= label :hh_form, :bronchitis, "bronchitis"
				%br
				= check_box_tag "hh_form[asthma]", :class => "checkbox"
				= label :hh_form, :asthma, "asthma"
				%br
				= check_box_tag "hh_form[emphysema]"
				= label :hh_form, :emphysema, "emphysema"
				%br
				%h4.topmargin-sm Skin
				= check_box_tag "hh_form[skin_condition]"
				= label :hh_form, :skin_condition, "skin_condition"
			.col_one_fifth
				%h4 Cardiovascular
				= check_box_tag "hh_form[high_bp]"
				= label :hh_form, :high_bp, "high_bp"
				%br
				= check_box_tag "hh_form[low_bp]"
				= label :hh_form, :low_bp, "low_bp"
				%br
				= check_box_tag "hh_form[cchf]"
				= label :hh_form, :cchf, "cchf"
				%br
				= check_box_tag "hh_form[heat_attack]"
				= label :hh_form, :heat_attack, "heat_attack"
				%br
				= check_box_tag "hh_form[phlebitis]"
				= label :hh_form, :phlebitis, "phlebitis"
				%br
				= check_box_tag "hh_form[stroke_CVA]"
				= label :hh_form, :stroke_CVA, "stroke_CVA"
				%br
				= check_box_tag "hh_form[pacemaker]"
				= label :hh_form, :pacemaker, "pacemaker"
				%br
				= check_box_tag "hh_form[heart_disease]"
				= label :hh_form, :heart_disease, "heart_disease"
				%br
			.col_one_fifth
				%h4 Other Conditions
				= check_box_tag "hh_form[loss_of_sensation]"
				= label :hh_form, :loss_of_sensation, "loss_of_sensation"
				%br
				= check_box_tag "hh_form[diabetes]"
				= label :hh_form, :diabetes, "diabetes"
				%br
				= check_box_tag "hh_form[diabetes_onset]"
				= label :hh_form, :diabetes_onset, "diabetes_onset"
				%br
				= check_box_tag "hh_form[allergies]"
				= label :hh_form, :allergies, "allergies"
				%br
				= check_box_tag "hh_form[epilepsy]"
				= label :hh_form, :epilepsy, "epilepsy"
				%br
				= check_box_tag "hh_form[cancer]"
				= label :hh_form, :cancer, "cancer"
				%br
				= check_box_tag "hh_form[arthritis]"
				= label :hh_form, :arthritis, "arthritis"
				%br
				= check_box_tag "hh_form[digestive_conditions]"
				= label :hh_form, :digestive_conditions, "digestive_conditions"
				%br
				= check_box_tag "hh_form[osteoporosis]"
				= label :hh_form, :osteoporosis, "osteoporosis"
				%br
		= check_box_tag "hh_form[mental_condition]"
		= label :hh_form, :mental_condition, "mental_condition"

		= text_field :mental_condition_note, :mental_condition_note
		= label :hh_form, :mental_condition_note, "mental_condition_note"



		= label :hh_form, :vision_problems, "vision_problems"
		= check_box_tag "hh_form[vision_problems]"

		= label :hh_form, :vision_loss, "vision_loss"
		= check_box_tag "hh_form[vision_loss]"

		= label :hh_form, :ear_problems, "ear_problems"
		= check_box_tag "hh_form[ear_problems]"

		= label :hh_form, :hearing_loss, "hearing_loss"
		= check_box_tag "hh_form[hearing_loss]"
	    	


		= label :hh_form, :hepatitis, "hepatitis"
		= check_box_tag "hh_form[hepatitis]"

		= label :hh_form, :infectious_skin_condition, "infectious_skin_condition"
		= check_box_tag "hh_form[infectious_skin_condition]"

		= label :hh_form, :tb, "tb"
		= check_box_tag "hh_form[tb]"

		= label :hh_form, :hiv, "hiv"
		= check_box_tag "hh_form[hiv]"
	    	


		= label :hh_form, :pregnant, "pregnant"
		= check_box_tag "hh_form[pregnant]"

		= label :hh_form, :regnant_due_date, "regnant_due_date"
		= text_area_tag :hh_form, :regnant_due_date
	    	
	 
		= label :hh_form, :neck, "neck"
		= check_box_tag "hh_form[neck]"

		= label :hh_form, :neck_note, "neck_note"
		= text_area_tag :hh_form, :neck_note
	 
		= label :hh_form, :low_back, "low_back"
		= check_box_tag "hh_form[low_back]"

		= label :hh_form, :low_back_note, "low_back_note"
		= text_area_tag :hh_form, :low_back_note
	 
		= label :hh_form, :mid_back, "mid_back"
		= check_box_tag "hh_form[mid_back]"

		= label :hh_form, :mid_back_note, "mid_back_note"
		= text_area_tag :hh_form, :mid_back_note
	 
		= label :hh_form, :upper_back, "upper_back"
		= check_box_tag "hh_form[upper_back]"

		= label :hh_form, :upper_back_note, "upper_back_note"
		= text_area_tag :hh_form, :upper_back_note
	 
		= label :hh_form, :shoulders, "shoulders"
		= check_box_tag "hh_form[shoulders]"

		= label :hh_form, :shoulders_note, "shoulders_note"
		= text_area_tag :hh_form, :shoulders_note
	 
		= label :hh_form, :arms, "arms"
		= check_box_tag "hh_form[arms]"

		= label :hh_form, :arms_note, "arms_note"
		= text_area_tag :hh_form, :arms_note
	 
		= label :hh_form, :legs, "legs"
		= check_box_tag "hh_form[legs]"

		= label :hh_form, :legs_note, "legs_note"
		= text_area_tag :hh_form, :legs_note
	 
		= label :hh_form, :knees, "knees"
		= check_box_tag "hh_form[knees]"

		= label :hh_form, :knees_note, "knees_note"
		= text_area_tag :hh_form, :knees_note
	 
		= label :hh_form, :other, "other"
		= check_box_tag "hh_form[other]"

		= label :hh_form, :other_note, "other_note"
		= text_area_tag :hh_form, :other_note





		= label :hh_form, :current_medications, "current_medications"
		= text_area_tag :hh_form, :current_medications

		= label :hh_form, :surgery, "surgery"
		= text_area_tag :hh_form, :surgery

		= label :hh_form, :surgery_date, "surgery_date"
		= select_date Date.today, hh_form: :surgery_date

		= label :hh_form, :injuries, "injuries"
		= text_area_tag :hh_form, :injuries

		= label :hh_form, :injury_date, "injury_date"
		= select_date Date.today, hh_form: :injury_date

		= label :hh_form, :physician, "physician"
		= text_field :hh_form, :physician


		= label :hh_form, :physician_address, "physician_address"
		= text_field :hh_form, :physician_address


		= label :hh_form, :other_healthcare, "other_healthcare"
		= check_box_tag "hh_form[other_healthcare]"

		= label :hh_form, :other_healthcare_list, "other_healthcare_list"
		= text_area_tag :hh_form, :other_healthcare_list


		= label :hh_form, :other_medical_conditions, "other_medical_conditions"
		= text_area_tag :hh_form, :other_medical_conditions

		= label :hh_form, :special_notes, "special_notes"
		= text_area_tag :hh_form, :special_notes

		= submit_tag "Save"